body {
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #cbd5e0;
    font-family: 'Arial', sans-serif;
}

.container {
    background-color: rgba(45, 55, 72, 0.85); /* Add transparency */
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
}

.btn, .sort-link {
    background-color: #3182ce;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s;
    display: inline-block;
    margin: 0.5rem 0;
}

.btn:hover, .sort-link:hover {
    background-color: #2b6cb0;
}


h1 {
    color: #58a6ff;
    font-size: 2.5rem;
}

.btn-group .btn {
    margin-left: 10px;
    font-size: 1rem;
}

.btn-primary {
    background-color: #238636;
    border-color: #2ea043;
    color: #ffffff;
    text-shadow: none;
}

.btn-secondary {
    background-color: #6e7681;
    border-color: #6e7681;
    color: #ffffff;
    text-shadow: none;
}

.btn-primary:hover, .btn-secondary:hover {
    background-color: #2ea043;
    border-color: #2ea043;
    opacity: 0.8;
    color: #ffffff;
}

.idea-item {
    background-color: #161b22;
    border: 1px solid #30363d;
    margin-bottom: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, border-color 0.3s;
}

.idea-item:hover {
    background-color: #21262d;
    border-color: #8b949e;
}

.idea-name {
    color: #58a6ff;
    font-size: 1.5rem;
}

.idea-introduction, .idea-author, .idea-kudos {
    color: #8b949e;
    margin: 0.5rem 0;
}

.idea-introduction {
    font-size: 1rem;
}

.idea-author, .idea-kudos {
    font-size: 0.875rem;
}
