
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>
<body class="bg-gray-900 text-gray-300 font-sans min-h-screen">
    <div class="grid grid-cols-10">
        <div class="col-span-10 h-12 bg-black flex items-center justify-end shadow-md text-gray-300">
            <div class="text-md flex items-center px-8 h-full cursor-pointer hover:underline hover:text-white">
                Idea overview
            </div>
            <div class="text-md flex items-center px-8 h-full cursor-pointer hover:underline hover:text-white">
                Admin view
            </div>
            <div class="text-md flex items-center px-8 h-full cursor-pointer hover:underline hover:text-white">
                Submit proposal
            </div>
        </div>
        <div class="col-span-10 mx-8 mt-4 flex justify-between"><!--overview basic-->
            <div class="mr-12">
                <div class="flex items-end">
                    <h1 class="text-white text-2xl font-bold">Eco-Friendly Packaging</h1>
                    <div class="flex items-center ml-4"><!--denied-->
                        <div class="w-4 h-4 bg-red-500 rounded-full"></div>
                        <h4 class="font-semibold text-white ml-2 text-lg">
                            Denied
                        </h4>
                    </div>
                </div>
                <div class="flex">
                    <p class="text-gray-400 text-sm mt-2">Author: {{ idea.name_1 }}</p>
                    <p class="text-gray-400 text-sm mt-2 ml-2">Date: {{ date }}</p>
                </div>
                <div class="flex">
                    <p class="text-gray-400 text-sm mt-2">Partnerships: {{ partner.name_1 }}</p>
                </div>
                <p class="text-md text-gray-200 mt-4">Develop biodegradable packaging to reduce environmental impact. Targeting the reduction of plastic waste by using plant-based materials.","Sustainable packaging market is growing; appeals to eco-conscious consumers.</p>
            </div>
            <div class="flex text-lg  items-center space-x-2 cursor-pointer text-white hover:text-blue-500">
                <i class="fas fa-heart"></i>
                <p id="kudos-{{ idea.idea_id }}" class="font-semibold">44</p>
            </div>
            
        </div>
        <div class="col-span-10 mx-8 mt-4 flex space-x-3"><!--over additional-->
            <div class="w-1/3">
                <h4 class="pb-1 border-b border-white text-white font-semibold">
                    Value proposition
                </h4>
                <div class="pt-1">
                    In marketing, a company’s value proposition is the full mix of benefits or economic value which it promises to deliver to the current and future customers who will buy their products and/or services. 
                </div>
            </div>
            <div class="w-1/3">
                <h4 class="pb-1 border-b border-white text-white font-semibold">
                    Key resources
                </h4>
                <div class="pt-1">
                    In marketing, a company’s value proposition is the full mix of benefits or economic value which it promises to deliver to the current and future customers who will buy their products and/or services. 
                </div>
            </div>
            <div class="w-1/3">
                <h4 class="pb-1 border-b border-white text-white font-semibold">
                    Key activities
                </h4>
                <div class="pt-1">
                    In marketing, a company’s value proposition is the full mix of benefits or economic value which it promises to deliver to the current and future customers who will buy their products and/or services. 
                </div>
            </div>
        </div>
        <div class="col-span-10 mx-8 mt-4"><!--Vice funkci-->
            <div class="flex text-gray-200 hover:text-white cursor-pointer items-center hover:underline">
                <p>Business Canvas</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3 ml-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 19.5 15-15m0 0H8.25m11.25 0v11.25" />
                </svg> 
            </div>
        </div>
        <div class="col-span-10 mx-8 mt-8"><!--comments-->
            <div class="text-lg font-semibold text-white border-gray-500 pb-1"><!--Hlavicka-->
                Comments
            </div>
            <div><!--comment psani-->
                <form>
                    <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                        <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                            <label for="comment" class="sr-only">Your comment</label>
                            <textarea id="comment" rows="2" class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400" placeholder="Write a comment..." required ></textarea>
                        </div>
                        <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
                            <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                                Post comment
                            </button>
                        </div>
                    </div>
                </form> 
            </div>
            <div>
                <div class="bg-gray-800 border border-gray-700 p-4 rounded-lg my-4 shadow-lg flex items-center justify-between">
                    <div>
                        <div class="flex items-end mb-2">
                            <h4 class="text-blue-500 text-xl font-semibold hover:underline">
                                <a href="{{ url_for('idea', idea_id=idea.idea_id) }}">{{ Comment.name }}</a>
                            </h4>
                        </div>
                        <p class="text-gray-300 text-sm">{{ commenttext }}</p>
                        <div class="flex">
                            <p class="text-gray-400 text-sm mt-2">Author: {{ idea.name_1 }}</p>
                            <p class="text-gray-400 text-sm mt-2 ml-2">Date: {{ date }}</p>
                        </div>
                    </div>
                    <div class="flex items-center space-x-2 cursor-pointer hover:text-blue-500" onclick="increaseKudos({{ idea.idea_id }})">
                        <i class="fas fa-heart"></i>
                        <p id="kudos-{{ idea.idea_id }}" class="font-semibold">{{ idea.kudos }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>